{% extends 'main.html' %}
{% block content %}

<h1>INSTAGRAM</h1>

 <div class="hero-section__search">
                <form id='searchForm' class="form" action="{% url 'home' %}" method="get">
                    <div class="form__field">
                        <label for="formInput#search">Search By Projects </label>
                        <input class="input input--text" id="formInput#search" type="text" name="search_query"
                               value="{{search_query}}" />
                    </div>
                        <input class="btn btn--sub btn--lg" type="submit" value="Search" />
                </form>
            </div><br><hr>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% for i in post %} <br>
    {{ i.post_user}}<br>
    <img style="max-width: 500px;" src="{{ i.post_image.url }}">
        {%  if request.user.profile == i.post_user %}

    <a href="{% url 'update_post' i.id %}">Edit</a> <a href="{% url 'delete_post' i.id %}">Delete</a><br>
    {% endif %} <br>
    {{i.post_caption}} <br>
    {{i.post_created | timesince}} <br>

    <a href="{% url 'post_like' i.id %}">Like</a>

    {{i.post_likes}}<br> <br> <hr>

    {% endfor %}
    </form>
{% endblock %}